version: 3

images:
  base_image:
    name: quay.io/centos/centos:stream9

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.*
  ansible_runner:
    package_pip: ansible-runner

  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  prepend_base:
    # Make sure python + pip exist BEFORE ansible-builder tries to pip install ansible-core
    - RUN dnf -y install python3 python3-pip ca-certificates && dnf clean all

    # Now pip exists, so we can safely upgrade it
    - RUN python3 -m pip install -U pip setuptools wheel

    # Force PyPI (or replace with your internal mirror)
    - ENV PIP_INDEX_URL=https://pypi.org/simple
    - ENV PIP_EXTRA_INDEX_URL=
