version: 3

images:
  base_image:
    name: python:3.11-slim

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.*
  ansible_runner:
    package_pip: ansible-runner

  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  prepend_base:
    - ENV PIP_INDEX_URL=https://pypi.org/simple
    - ENV PIP_EXTRA_INDEX_URL=
    - RUN python -m pip install -U pip setuptools wheel
    - RUN apt-get update && apt-get install -y --no-install-recommends git openssh-client sshpass ca-certificates && rm -rf /var/lib/apt/lists/*
