version: 3

images:
  base_image:
    name: quay.io/centos/centos:stream9

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.*
  ansible_runner:
    package_pip: ansible-runner
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  append_base:
    # Make sure TLS + pip are sane
    - RUN dnf -y install ca-certificates && dnf clean all
    - RUN python3 -m pip install -U pip setuptools wheel

  # This is the important part: make pip use PyPI explicitly in the build
  prepend_base:
    - ENV PIP_INDEX_URL=https://pypi.org/simple
    - ENV PIP_EXTRA_INDEX_URL=
