version: 3

images:
  base_image:
    name: quay.io/ansible/awx-ee:24.6.1

dependencies:
  galaxy: galaxy_requirements.yml
  python: pip_requirements.txt
  system: bindep.txt

additional_build_steps:
  prepend_base:
    - RUN dnf -y install git && dnf clean all
    - RUN python3 -m pip install -U pip setuptools wheel
