version: 3

images:
  base_image:
    name: registry.access.redhat.com/ubi9/python-312:latest

dependencies:
  galaxy: galaxy_requirements.yml
  python: pip_requirements.txt
  system: bindep.txt

  python_interpreter:
    python_path: /usr/bin/python3.12

  ansible_core:
    package_pip: ansible-core==2.20.1

  ansible_runner:
    package_pip: ansible-runner>=2.4.0

additional_build_files:
  - src: ansible.cfg
    dest: configs
  - src: run.sh
    dest: scripts

additional_build_steps:
  prepend_base:
    - USER root
    - RUN $PYCMD -V
    - RUN $PYCMD -m pip -V
    - RUN $PYCMD -m pip install -U pip setuptools wheel

  append_base:
    - RUN if ! id -u runner >/dev/null 2>&1; then \
          useradd -u 1000 -g 0 -d /home/runner -m runner; \
        fi

  prepend_final:
    - COPY --from=quay.io/ansible/receptor:latest /usr/bin/receptor /usr/bin/receptor
    - USER root
    - RUN mkdir -p /var/run/receptor && chown 1000:0 /var/run/receptor
    - COPY _build/configs/ansible.cfg /etc/ansible/ansible.cfg
    - COPY _build/scripts/run.sh /run.sh
    - RUN chmod +x /run.sh

  append_final:
    - RUN ansible --version
