---
version: 3

images:
  base_image:
    name: quay.io/centos/centos:stream9

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.*
  ansible_runner:
    package_pip: ansible-runner

  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  append_base:
    - RUN python3 -m pip install -U pip
